rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isOwner() {
      return request.auth != null && request.auth.uid == "cA5VgvDvMKQMVKtEDyggCGVqTvW2";
    }
    match /trips/{tripId} {
      allow read, write: if isOwner();
      match /{sub=**} {
        allow read, write: if isOwner();
      }
    }
  }
}
